<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% if title %}
        <title>{{title}} - Cursor</title>
    {% else %}
        <title>Cursor</title>
    {% endif %}

  <!-- ========== Css Files ========== -->
  <link href="{{url_for('static', filename='css/root.css')}}" rel="stylesheet">
  <style type="text/css">
    body{background: #F5F5F5;}
  </style>
  </head>
  <body>
    <div class="login-form">
      <form action="" method="post" name="LoginForm">
         {{ form.hidden_tag() }}
        <div class="top">
          <img src="{{url_for('static', filename='img/kode-icon.png')}}" alt="icon" class="icon">
          <h1>Cursor</h1>
          <h4>A CMS System</h4>
        </div>
          {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <div class="notify-wrap">
                    {% for message in messages %}
                        <div class="kode-alert kode-alert-icon alert5-light">
                            <i class="fa fa-warning"></i>
                            <a href="#" class="closed">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                  </div>
                {% endif %}
            {% endwith %}
        <div class="form-area">
          <div class="group">
            {{form.username(size=60, class="form-control", placeholder="Username")}}
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            {{form.password(size=60, class="form-control", placeholder="Password")}}
            <i class="fa fa-key"></i>
          </div>
          <div class="checkbox checkbox-primary">
            {{ form.remember_me(id='checkbox101') }}
            <label for="checkbox101"> Remember Me</label>
          </div>
          {{ form.submit(class="btn btn-default btn-block")}}
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="{{url_for('auth.register')}}"><i class="fa fa-external-link"></i> Register Now</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
      </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static', filename='js/sweet-alert/sweet-alert.min.js')}}"></script>
     <script src="{{url_for('static', filename='js/kode-alert/main.js')}}"></script>
</body>
</html>